<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SPYRIC-PC>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <BaseURL>http://zappchat.spyric.ru/program/</BaseURL>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;NAppUpdate.Framework.dll&lt;/string&gt;
&lt;/ArrayOfString&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>True</CompareVersion>
    <OutputFolder>C:\OpenServer\CSharp\Zappchat_new\ZappChat\ZappChat\bin\Release</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>C:\OpenServer\CSharp\Zappchat_new\ZappChat\setup\feed-builder\build\feed.xml</FeedXML>
  </SPYRIC-PC>
</Settings>